:root {
  --night: #1a1b26;
  --white: rgb(229, 240, 244);
  --red: #ff757f;
  --green: #9ece6a;
  --gold: #efb662;
  --lightBlue: #7dcfff;
  --blue: #7aa2f7;
}

html, body {
  background-color: var(--night);
  color: var(--white);
  margin: 0;
  padding: 0;
  font-family: Urbanist;
}

canvas {
  display: block;
}

#p5_target {
 /* background-color: var(--blue); */
  width: 100%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  max-width: 800px;
  margin: 25px 25px;
  display: flex;
  flex-direction: column;
  align-items : start;

}

.title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


